cycler==0.10.0
decorator==4.0.11
deepdish==0.3.4
funcsigs==1.0.2
h5py==2.7.0
Keras==2.0.2
matplotlib==1.5.2
mock==2.0.0
networkx==1.11
numexpr==2.6.2
numpy==1.12.1
olefile==0.44
onebtag-utils==0.0.1
pandas==0.18.1
pandautils==0.0.1
pbr==2.0.0
Pillow==4.0.0
protobuf==3.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
PyWavelets==0.5.2
PyYAML==3.12
root-numpy==4.7.2
rootpy==0.9.0
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
tables==3.3.0
tensorflow==1.0.0
Theano==0.9.0
tqdm==4.11.2
wheel==0.24.0
